@page "/ch04r04"
@rendermode InteractiveWebAssembly

<Grid @bind-Data="@Data">
    <Header>
        <tr>
            <SortableTd Property="@nameof(Ticket.Tariff)">
                Tariff
            </SortableTd>
            <SortableTd Property="@nameof(Ticket.Price)">
                Price
            </SortableTd>
        </tr>
    </Header>
    <Row>
        <tr>
            <td>@context.Tariff</td>
            <td>@context.Price</td>
        </tr>
    </Row>
</Grid>

@code {
    protected IList<Ticket> Data = Tickets.All;
}