@using BlazorCookbook.App.Client.Chapters.Chapter01.Recipe05.Models

@rendermode InteractiveWebAssembly

<Ticket Id="@Data.Adult.Id">
    @Data.Adult.Tariff (@Data.Adult.Price)
</Ticket>

<Ticket Id="@Data.FreeAdmission.Id">
    <div class="free-ticket">
        @Data.FreeAdmission.Tariff
    </div>
</Ticket>

@code {
    public void AddToCart(Guid Id)
        => Console.WriteLine($"Ticket {Id} added to cart!");
}