@page "/ch04r02"
@rendermode InteractiveWebAssembly

<Grid Data="@Tickets.All">
    <Header>
        <ActiveTd OnClick="@(() => Sort("Tariff"))">
            Tariff
        </ActiveTd>
        <ActiveTd OnClick="@(() => Sort("Price"))">
            Price
        </ActiveTd>
    </Header>
    <Row>
        <ActiveTr OnClick="@(() => Show(context.Id))">
            <td>@context.Tariff</td>
            <td>@context.Price</td>
        </ActiveTr>
    </Row>
</Grid>

@code {
    private void Sort(object value)
        => Console.WriteLine($"Sort by {value}!");

    private void Show(object value)
        => Console.WriteLine($"Show {value}!");
}