@page "/ch03r03"
@rendermode InteractiveWebAssembly

<button class="btn btn-sm btn-success"
        @onclick="@ToggleTickets">
    Toggle Tickets
</button>

@if (!ShowTickets) return;
<hr />

@foreach (var ticket in Tickets.All)
{
    <div class="d-flex justify-content-between mb-1"
         id="ticket-@ticket.Id">

        <div>@ticket.Title</div>
        <div>
            <TicketOptions OnShow="@(() => Show(ticket))"
                           OnTopUp="@(() => TopUp(ticket))"
                           OnRemove="@(() => Remove(ticket))" />
        </div>
    </div>
}

@if (SelectedTicket is null) return;
<hr />

<div>Title: @SelectedTicket.Title</div>
<div>Price: @SelectedTicket.Price</div>
<div>Stock: @SelectedTicket.Stock</div>

@code {
    protected bool ShowTickets { get; set; }

    private void ToggleTickets()
        => ShowTickets = !ShowTickets;

    internal Ticket SelectedTicket;

    private void Show(Ticket ticket)
        => SelectedTicket = ticket;

    private void TopUp(Ticket ticket)
        => ticket.Stock += 5;

    private void Remove(Ticket ticket)
        => Tickets.All.Remove(ticket);
}