@page "/ch01r06"
@using BlazorCookbook.App.Client.Chapters.Chapter01.Data
@rendermode InteractiveWebAssembly

<Ticket Id="@Samples.Adult.Id">
    @Samples.Adult.Tariff (@Samples.Adult.Price)
</Ticket>

<Ticket Id="@Samples.FreeAdmission.Id">
    <div class="free-ticket">
        @Samples.FreeAdmission.Tariff
    </div>
</Ticket>